@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Pixelify+Sans:wght@500&display=swap');

.nav-body{
    margin-top: 200px;
    width: 404px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.options-board {
    width: 300px;
    background-image: url('../../assets/options-board.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 25px;
}

.button-style {
    margin-top: 10px;
    border: none;
    background-image: url('../../assets/button-unpushed.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: "BigPixel", sans-serif;
    font-size: 20px;
    width: 180px;
    height: 77px;
}

.button-style:active {
    background-image: url('../../assets/button-pushed.png');
}

.options-header {
    width: 200px;
    height: 70px;
    margin-top: -20px;
    justify-self: center;
    align-self: center;
}