.base-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/home-page-background.png");
    background-size: contain;
}

.body {
    display: flex;
    flex-direction: row;
    flex: 25 1 auto;
}

.animation-frames {
    margin-left: 20%;
    align-self: flex-end;
}