.footer-elements {
    margin-top: -15px;
    margin-right: 30px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    margin-left: 25px;
    width: 75px;
    height: 75px;
}